.no-select{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.position-center{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}