.no-select{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.position-center{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.card-mask {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-image: linear-gradient(
    0,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.bg-linear-mask{
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}